canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Lower z-index */
  }
  
  svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Higher z-index → SVG on top */
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; /* Lower z-index */
  }
  
  #suggestions {
    position: absolute;
    top: 5%;
    left: 0;
    /* top: 100%; Positions below the input */

    z-index: 3; /* Ensures it's above other elements */
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Initially hidden */
  }
  
  #suggestions .list-group-item {
    cursor: pointer;
  }
  
  #suggestions .list-group-item:hover {
    background-color: #f8f9fa;
  }
